body{
	font-family: Arial;
}

.landing-bg{
	background: #000;
}

.login-box{
	background: #262625;
	padding:30px;
}

.btn-orange{
	background-color: #ff7103;
	color:#000;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: bold;
}

.landing-logo{
	margin-top:50px;
	margin-bottom:50px; 
}

.login-box input[type="text"], input[type="password"]{
	background-color: #dadada;
}

.has-feedback-left .form-control-feedback {
    left: 0; 
}

.login-box .form-control-feedback {
    line-height: 34px !important;
}

.has-feedback-left .form-control {
    padding-right: 12px;
    padding-left: 34px;
}

.login-box .has-feedback .glyphicon{
	display: none !important;
}

.no-padding{
	padding: 0 !important;
}

.bg-black{
	background-color: #000;
}

.nav-tabs.nav-black{
	background-color: #000;
}

.nav-pills.nav-black>li.no-hover>a, .nav-tabs.nav-black>li.no-hover>a{
	background-color: #000;
}

.nav-pills.nav-black>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .nav-pills>li>a:hover{
	background-color: #e66706;
}

.nav-tabs.nav-black>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover{
	background-color: transparent;	
	border:none;
}

.nav-pills.nav-black>li>a {
    border-radius: 0 !important;
    color: #FFF;
    text-align: center;
}

.nav-tabs.nav-black>li>a  {
    border-radius: 0 !important;
    color: #ff7103;
    text-align: center;
    border: none;
}

.bg-white{
	background-color: #FFF;
}

.filter-box{
	margin-top:40px;
	margin-bottom: 40px;
}

.bg-dark-grey{
	background-color: #202020;
}

.link-black{
	color: black;
}

.header-filter-box{
	margin-top:15px;
}

.nav-tabs-center > li {
    float:none !important;
    display:inline-block !important;
    padding-right: 40px;
    padding-left: 40px;
}

.nav-tabs-center {
    text-align:center !important;
}

.text-orange{
	color:#ff7103;
}

.ic-detail-menu{
	width:30px;
	margin-right: 10px;
}

.bg-light-grey{
	background-color: #f6f6f6;
}

.margin-top-50{
	margin-top: 50px;
}

.profile-desc{
	margin-left: 30px;
}

.profile-desc .fa{
	margin-right: 10px;
}

.padding-btm-50{
	padding-bottom:50px !important;
}

.no-padding-right{
	padding-right: 0 !important;
}

.delivery-status{
	padding:5px !important;
}

.text-status-green{
	color: #24bd1c;
}

.text-status-red{
	color: #e3130e;
}

.text-status-orange{
	color: #fe7106;
}

.border-btm-grey{
	border-bottom: 1px solid #c9c9c9;
}

.order-item{
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.shipment-filter-wrap{
	margin-top:30px;
}

.status-field{
	color: #9f9f9f;
}